// 
// authentication.scss
//

.auth-block{
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.auth-body-bg{
    background-color: $card-bg;
}

.authentication-bg{
  
    height: 100vh;
    background-size: cover;
    background-position: center;
    .bg-overlay{
        background-color: #292626;
    }

    @media (max-width: 991px) {
            display: none;
    }
}

.authentication-page-content{
    height: 100vh;
    display: flex;
}

.auth-form-group-custom{
    position: relative;
    .form-control{
        height: 60px;
        padding-top: 28px;
        padding-left: 60px;
        padding-right: 55px;
        // overflow: hidden;
        // text-overflow: ellipsis;
    }

    label{
        position: absolute;
        top: 7px;
        left: 60px;
        z-index: 15 ;
    }

    .auti-custom-input-icon{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 19px;
        font-size: 24px;
        color: $primary;
        z-index: 15;
    }
}
.passwordScope {
    border: none !important;
}


.ReactPasswordStrength-strength-desc {
    width: 100% !important;
}


// authentication home icon
.home-btn {
    position: absolute;
    top: 15px;
    right: 25px;
    z-index: 9;
}

.invalid-feedback{
    position: absolute;
}
