html {
  scroll-behavior: smooth !important;
}
.accent_text {
  font-size: 16px;
  font-weight: bolder;
  &::before {
    content: " ";
  }
}
::-webkit-scrollbar,
::-webkit-scrollbar-track {
  width: 8px;
}

::-webkit-scrollbar:hover,
::-webkit-scrollbar-track:hover{
  width: 10px;
}

::-webkit-scrollbar-track {

  border-radius: 6px;
  background: #646464; 
}

::-webkit-scrollbar-thumb {
  background:  rgba(2, 133, 255, 0.762);
  border-radius: 6px;
}


table::-webkit-scrollbar {
  height: 5px;
  width: 6px;

}

table::-webkit-scrollbar-track {

  border-radius: 6px;
  height: 5px;
  background: #bbbcbd; 
}

table::-webkit-scrollbar-thumb {
  background:  #5664d2; 
  height: 5px;
  border-radius: 6px;
}

.multiselect-container {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.94rem + 2px);
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  color: #8590a5;
  // background-color: #2b3244;
  background-clip: padding-box;
  border: 1px solid #ccc !important;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.search-wrapper {
  border: none;
  color: #8590a5;
}
.table thead th {
  border: 1px solid #ced4da;
  font-weight: bolder;
  font-weight: bolder;
}
.table-bordered td {
  border: 1px solid #ced4da;
}
.select__menu {
  z-index: 99999 !important;
}
.docView {
  height: 100vh;
  background: #000;
}

.select2-selection__menu {
  display: block !important;
  z-index: 999999 !important;
  left: 0;
  position: absolute;
}
.smaltd {
  width: 30px;
}
.fc-list-item {
  background: #dedede !important;
}

.cstmLink {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.posrel {
  .select__menu {
    position: relative;
    top: 100%;
  }
}

.customCase {
  margin: 5px;
  display: block;
  padding-left: 10px;
  white-space: break-spaces;
  text-align: left;
  line-height: 1.3em;
  margin: 5px;
  display: block;
  font-weight: 400;
  text-overflow: ellipsis;
  background: none !important;
  overflow: hidden;
}
// .customTitle {
//   @extend .customCase;
//   margin: 0;
// }
.goBack {
  background: transparent;

  border-radius: 0;
  font-size: 22px !important;
  color: #636e75 !important;
  border: none;
  &:hover {
    background: transparent;
    color: #252b3b !important
  }
}
.SPINNER {
  position: absolute;
  background: #ffffffa8;
  width: 100%;
  height: 100%;
  left: 0;
  transition: all 0.3s linear;
  div {
    position: absolute;
    left: calc(50% - 12px);
    top: 35%;
  }
}
// .previewFaile {
//   width: 300px;
//   height: auto;
//   display: block;
// }
.fc-content {
  display: flex;
  align-items: center;
}
.range_cstm {
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  &:focus {
    outline: unset;
  }
}
.range-indecator {
  color: #fff;
  font-weight: bold;
  // line-height: 2em;
  margin: 0;
  font-size: 12px;
}

.visible-checkbox {
  display: block !important;
}

.meta-table {
  thead {
    td {
      font-size: 16px;
      font-weight: bold;
    }
  }
}

.info-title {
  font-size: 16px;
  font-weight: bold;
  color: #4aa3ff;
  // color: $bl
}

.modal-content {
  background: #f1f1f1 !important;
}
.holder-fo {
  position: relative;
}
.btn-file {
  // width: 30px;
  position: absolute;
  right: 60px;
  top: 0;
  height: 60px;
  width: 60px;
  border: none;
}
.del-btn {
  position: absolute;
  right: 0;
  top: 0;
  height: 60px;
  width: 60px;
  border: none;
  border-radius: 0 0.25rem 0.25rem 0;
  background: #ff3d60;
  color: #fff;
  font-size: 18px;
}
.del-btn:hover{
  background: #d22e4c;
  cursor: pointer;
  color:#fff;
}

.del-btn.inverse {
  background: none;
  color: rgb(194, 81, 81);
}
.del-btn.inverse:hover{
  color: #d22e4c;
  cursor: pointer;
}

.addNewSyncFolder{
  width: 100%;
  height: 28px;
  background: #fcb92c;
  border: none;
  font-size: 12px;
  line-height: 28px;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  display: block;
  font-weight: bold;
}

.addNewSyncFolder:hover{
  background: #FFC107;
  cursor: pointer;
}
.no-right {
  right: 0 !important;
}
.no-radius {
  border-radius: 0 !important;
}
.cred {
  color: red;
  font-size: 16px;
}
.dots-btn {
  font-size: 30px;
  // transform: scale(2);
}

.btn.select-dir{
  border-radius: 0 0.25rem 0.25rem 0;
}

.card .card-header{
  font-weight: bold;
}
.loader-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100vh;

}

.loader > span {
  display: inline-block;
  padding: 10px;
  font-size: 22px;
  color: #fff;
  font-weight: bolder;
  background: #252b3b;
  border-bottom: 10px solid #3140b7;
  transform: scale(0);
}

@keyframes load {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.loader span:nth-child(1) {
  animation: infinite load 0.8s alternate;
}
.loader span:nth-child(2) {
  animation: infinite load 0.9s alternate;
}
.loader span:nth-child(3) {
  animation: infinite load 1.1s alternate;
}
.loader span:nth-child(4) {
  animation: infinite load 1.2s alternate;
}
.loader span:nth-child(5) {
  animation: infinite load 1.3s alternate;
}
.loader span:nth-child(6) {
  animation: infinite load 1.4s alternate;
}
.loader span:nth-child(7) {
  animation: infinite load 1.5s alternate;
}

.card-header {
  box-shadow: 0px 1px 0px 0px #5664d2;
  background: #fff;
  border-radius:6px;
}

.pdf-canvas > canvas{
  display: block;
  width: 80%;
  margin: 0 auto;
}

.primary-color {
  color: #5664d2;
}
.full-btn {
  height: 60px;
  font-size: 16px;
  font-weight: 700;
}
.ttip {
  position: absolute;
  top: 40%;
  left: 50%;
  background-color: red;
  z-index: 9999 !important;
}

.ttTitle {
  color: #fff;
}
.ttHolder {
  // width: 300px;
  height: auto;
  padding: 10px 20px;
  background: transparent;
}
.ttInfo {
  text-align-last: left;
}

.h4{
  font-weight: 100;
  text-transform: uppercase;
  font-size: 18px;
}

.h5{
  font-weight: 100;
  font-size: 16px;
}

.sb-avatar__text {
   background-image:  linear-gradient(327deg, rgba(2,0,36,1) 0%, rgba(121,9,117,0.76234243697479) 15%, rgba(0,212,255,1) 100%) !important;

}