// 
// preloader.scss
//

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1051;
    // background-color: #fff;
    background-image: linear-gradient(327deg, rgba(2,0,36,1) 0%, rgba(121,9,117,0.76234243697479) 35%, rgba(0,212,255,1) 100%);

    .loader-block{
      .loader_bg{
        width: 300px;
        z-index: 0;
        opacity: 1;
        animation: animateHeart 2s infinite;
      }

      .loader_Obj{
        display: none;
      }
    }
}

#status {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    margin: -20px 0 0 -20px;
}

.spinner{
    .spin-icon {
        font-size: 56px;
        color: $primary;
        position: relative;
        display: inline-block;
        animation: spin 1.6s infinite linear;
    }
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(359deg);
    }
}

@keyframes animateHeart {
  // scale down and scale up faster in irregular intervals to get the throbbing effect
  0% {
    transform: scale(0.8);
  }
  5% {
    transform: scale(0.9);
  }
  20% {
    transform: scale(0.8);
  }
  25% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(0.8);
  }
}
  