.trotling-line {
  display: block;
  height: 10px;
  border-radius: 3px;
  background-image: linear-gradient(327deg, rgba(2,0,36,1) 0%, rgba(121,9,117,0.76234243697479) 35%, rgba(0,212,255,1) 100%);
  background-size: 1000% 150%;
  -webkit-animation: AnimationName 2s ease infinite;
  animation: AnimationName 6s ease infinite;
}

.trotling-holder {
  .trotling-line {
    &:nth-child(1) {
      width: 60%;
    }
    &:nth-child(2) {
      width: 50%;
    }
    &:nth-child(3) {
      width: 66%;
    }
    &:nth-child(4) {
      width: 55%;
    }
    &:nth-child(5) {
      width: 70%;
    }
  }
}

.trotling-menu {
  width: 150px;
  .trotling-line {
    width: 60%;
    height: 6px;
  }
  .trotling-round {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: linear-gradient(327deg, rgba(2,0,36,1) 0%, rgba(121,9,117,0.76234243697479) 35%, rgba(0,212,255,1) 100%);
    background-size: 1000% 150%;
    -webkit-animation: AnimationName 2s ease infinite;
    animation: AnimationName 6s ease infinite;
  }
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 28% 0%;
  }
  50% {
    background-position: 73% 100%;
  }
  100% {
    background-position: 28% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 28% 0%;
  }
  50% {
    background-position: 73% 100%;
  }
  100% {
    background-position: 28% 0%;
  }
}
