.monthView {
  .backToYear {
    display: block;
    padding: 5px 10px;
    background: #2196F3;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
  }
  .prevMonthName, 
  .nextMonthName{
    font-size: 18px;
    color: #cacaca;
    cursor: pointer;
    font-weight: 100;

    &:hover{
      color:#cb003a;
    }
  }

  .monthCalendarName {
    font-size: 24px;
    font-weight: bold;
  }
  .calendarMonthHeader {
    padding: 10px;
    margin: 0;
    margin-bottom: 10px;
    flex-direction: column;

    & > div{
      flex-direction: row;
      width: 100%;
    }

    .backView{
      justify-content: flex-end;
      margin-bottom: 8px;
    }

    .monthSelector{
      justify-content: space-between;
    }
  }
  
  .monthGridCalendar {
    margin-top: 16px;

    .monthRowCalendarGrid {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-auto-rows: minmax(30px, auto);
      cursor: pointer;

      .dateGridItem {

        height: 100px;
        border: 1px solid #ddd;
        display: flex;
        justify-content: flex-end;

        width: 100%;
        overflow: hidden;

        .dateNumber{
          padding: 8px;
          font-size: 18px;
          color: #00000078;
        }

        // box-shadow: 1px 1px 1px 1px #1b1717;
      

        &:hover:not(.emptyCell):not(.isCurrentDay){
          box-shadow: inset 0 0 10px 1px #ececec;
        }
      } 
      .calendarDaysHeaders {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        background: #2196f3;
        border-right: 1px solid #0000001f;
        color: #fff;
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        padding: 4px 8px 4px 4px;
      }
      .isCurrentDay {
        background: transparent !important;
        // border: 2px solid #2196F3;
        // box-shadow: inset 0 0 10px 1px #2196F3;    
        box-shadow: inset 0 0 100px -20px #2196F3;
        // border-radius: 10px;
        color: #1b1717;
        font-weight: bold;
        transition: all 0.5s;

        .dateNumber{
          color: #7b7b7bc7;
        }

        &.selectedCalendarDay{
          .dateNumber{
            color: #ffffff;
            text-shadow: 0 0 1px #ffffff;
          }
        }

        &:hover{ 
          box-shadow: inset 0 0 60px -20px #2196F3;
        }

        &.selectedCalendarDay{
          box-shadow: inset 0 0 120px -20px #2148f3;
        }
      }

      .emptyCell {
        background: rgb(248, 248, 248);
        justify-self: end;
        align-self: start;
        height: 100px;
        width: 100%;
        // &:hover {
        //   border-radius: none !important;
        //   border: none !important;
        //   cursor: unset !important;
        // }

        .dateNumber{
          color: rgba(0, 0, 0, 0)!important;
        }
      }

      .selectedCalendarDay:not(.isCurrentDay) {
        // border-radius: 25%;
        // border: 2px solid #e91e63;
        // box-shadow: inset 0 0 10px 1px #e91e63;
        box-shadow: inset 0 0 10px 1px #3F51B5!important;
        // background: #e91e63;
        // color: #fff;
      }

      .selectedCalendarRange {
        // background: #ececec;
        // color: #74788d;
        background: #607d8b;
        color: #ffffff;
        font-weight: bold;
        box-shadow: 0 0 2px 2px #607d8b;

        &_startDate {
          border-radius: 5px 0 0 5px;
          background: #607d8b;
          color: #fff;
        }

        &_endDate {
          border-radius: 0 5px 5px 0;
          background: #607d8b;
          color: #fff;
        }
      }

      .hasCalendarEvents {
        position: relative;
        &:after {
          content: "";
        width: 32px;
        height: 32px;
        position: absolute;
        z-index: 2;
        left: -16px;
        top: -16px;
        background: #cb003a;
        border-radius: 50%;
        }
      }

      &:nth-child(n + 1):not(:last-child) { 
        .dateGridItem{
          border-bottom: 0;
        }

        .dateGridItem:not(:first-child) {
          border-left: 0;
        }
      }

      &:last-child {
        .dateGridItem:not(:first-child) {
          border-left: 0;
        }
      }
    }
    .DOnOTsHOW {
      border: none !important;
    }
    
  }
}